

#map {
    height: 600px;
}

.bg-lightblue {
    background-color: #e0f7fa !important;
}

h5.provider-title{
    font-size: 1rem;
}
p.provider-detail{
    font-size: .85rem;
}

p.provider-detail-name{
    margin-bottom: 0.3rem;
}